.Navbar {
    text-align: center;
    padding: 10px;
    background-color: #282c34;
}

.BlockNav {
    display: inline;
    padding: 8px;
    background-color: #282c34;
    color: #61dafb;
}

.BlockNav:hover {
    cursor: pointer;
}